# Limpieza de Datos

**Integrantes:**

    - 1802780, Ramírez Medellín, Sahori Verónica
    - 1937834, Flores Guerra, Irlanda Victoria
    - 1806569, Treviño Elizondo, Melenie Anahí
    - 1802294, Nuñes Márquez,Kevin Orlando
    
###### Equipo: 04

## Suicide Rates Overview 1985 to 2016

https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016

**Datos sin manipulación:**

In [2]:
import pandas as pd
import numpy as np

#Para acceder al dataset,cambiar la url 
suicidios=pd.read_excel("C:/Users/almag/Documents/7mo Semestre/Minería de Datos/master.xlsx")
print(suicidios)

          country  year     sex          age  suicides_no  population  \
0         Albania  1987    male  15-24 years           21      312900
1         Albania  1987    male  35-54 years           16      308000
2         Albania  1987  female  15-24 years           14      289700
3         Albania  1987    male    75+ years            1       21800
4         Albania  1987    male  25-34 years            9      274300
...           ...   ...     ...          ...          ...         ...
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year   gdp_for_year ($)   \
0                   6.71     Albania1987           NaN          2156624900
1                   5.19     Albania1987           NaN          2156624900
2                   4.83     Albania1987           NaN          2156624900
3                   4.59     Albania1987           NaN          2156624900
4                   3.28     Albania1987           NaN          2156624900
...                  ...             ...           ...                 ...
27815               2.96  Uzbekistan2014         0.675         63067077179
27816               2.58  Uzbekistan2014         0.675         63067077179
27817               2.17  Uzbekistan2014         0.675         63067077179
27818               1.67  Uzbekistan2014         0.675         63067077179
27819               1.46  Uzbekistan2014         0.675         63067077179

       gdp_per_capita ($)       generation
0                     796     Generation X
1                     796           Silent
2                     796     Generation X
3                     796  G.I. Generation
4                     796          Boomers
...                   ...              ...
27815                2309     Generation X
27816                2309           Silent
27817                2309     Generation Z
27818                2309     Generation Z
27819                2309          Boomers

[27820 rows x 12 columns]

**Información básica de cada una de las columnas:**

In [3]:
#La información muestra: La cantidad de memoria que usa la base de datos,Cuenta de los datos, promedio, tipo de datos, frecuencia, cuartiles, entre otros.
suicidios.info()
suicidios['country'].describe()
suicidios['year'].describe()
suicidios['sex'].describe()
suicidios['age'].describe()
suicidios['suicides_no'].describe()
suicidios['population'].describe()
suicidios['suicides/100k pop'].describe()
suicidios['country-year'].describe()
suicidios['HDI for year'].describe()
suicidios[' gdp_for_year ($) '].describe()
suicidios['gdp_per_capita ($)'].describe()
suicidios['generation'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  int64
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.5+ MB

count            27820
unique               6
top       Generation X
freq              6408
Name: generation, dtype: object

**Localización de los datos nulos en la base de datos:**

In [6]:
suicidios.isnull().any()

#La única columna que presenta datos nulos es “HDI for year”

country               False
year                  False
sex                   False
age                   False
suicides_no           False
population            False
suicides/100k pop     False
country-year          False
HDI for year           True
 gdp_for_year ($)     False
gdp_per_capita ($)    False
generation            False
dtype: bool

**Eliminar columnas no deseadas:**

In [7]:
#Se eliminarán las columnas "country-year","HDI for year", "gdp_per_capita($)" ya que la información no será relevante
#La columna "country-year" es una concatenación de las primeras 2 columnas, en tal caso, nos parece irrelevante.
#Columna "HDI for year" contiene muchos datos nulos sobre el indice de desarrollo humano, por lo tanto, la eliminamos.
#Columna "gdp_per_capita($)", utilizaremos unicamente la información en "gdp_for_years($)" que es información del PIB por años
#Columna "age" eliminada para modificar la información dentro 
suicidios_limpieza=suicidios.drop(['country-year','HDI for year','gdp_per_capita ($)','age'],axis = 1 )

#Visualización de la base de datos sin las columnas
print(suicidios_limpieza)

          country  year     sex  suicides_no  population  suicides/100k pop  \
0         Albania  1987    male           21      312900               6.71
1         Albania  1987    male           16      308000               5.19
2         Albania  1987  female           14      289700               4.83
3         Albania  1987    male            1       21800               4.59
4         Albania  1987    male            9      274300               3.28
...           ...   ...     ...          ...         ...                ...
27815  Uzbekistan  2014  female          107     3620833               2.96
27816  Uzbekistan  2014  female            9      348465               2.58
27817  Uzbekistan  2014    male           60     2762158               2.17
27818  Uzbekistan  2014  female           44     2631600               1.67
27819  Uzbekistan  2014  female           21     1438935               1.46

        gdp_for_year ($)        generation
0              2156624900     Generation X
1              2156624900           Silent
2              2156624900     Generation X
3              2156624900  G.I. Generation
4              2156624900          Boomers
...                   ...              ...
27815         63067077179     Generation X
27816         63067077179           Silent
27817         63067077179     Generation Z
27818         63067077179     Generation Z
27819         63067077179          Boomers

[27820 rows x 8 columns]

**Modificación de las columnas:**

In [14]:
#Modificación de la columna "age", eliminando la palabra "years" para evitar el repetir las palabras
letras_eliminados=suicidios['age'].str.replace('years','')

#Se agregan los datos sin la palabra "years"
suicidios_limpieza.insert(4,'age',letras_eliminados)

#Visualización de la base de datos mostrando la modificación
print(suicidios_limpieza)

          country  year     sex  suicides_no     age  population  \
0         Albania  1987    male           21  15-24       312900
1         Albania  1987    male           16  35-54       308000
2         Albania  1987  female           14  15-24       289700
3         Albania  1987    male            1    75+        21800
4         Albania  1987    male            9  25-34       274300
...           ...   ...     ...          ...     ...         ...
27815  Uzbekistan  2014  female          107  35-54      3620833
27816  Uzbekistan  2014  female            9    75+       348465
27817  Uzbekistan  2014    male           60   5-14      2762158
27818  Uzbekistan  2014  female           44   5-14      2631600
27819  Uzbekistan  2014  female           21  55-74      1438935

       suicides/100k pop   gdp_for_year ($)        generation
0                   6.71          2156624900     Generation X
1                   5.19          2156624900           Silent
2                   4.83          2156624900     Generation X
3                   4.59          2156624900  G.I. Generation
4                   3.28          2156624900          Boomers
...                  ...                 ...              ...
27815               2.96         63067077179     Generation X
27816               2.58         63067077179           Silent
27817               2.17         63067077179     Generation Z
27818               1.67         63067077179     Generation Z
27819               1.46         63067077179          Boomers

[27820 rows x 9 columns]

**Cambio de Nombre:**

In [16]:
#Cambio de nombre de las columnas para mejor manipulación de datos
suicidios_limpieza=suicidios_limpieza.set_axis(['PAIS', 'AÑO', 'SEXO','EDAD','NUM_SUICIDIOS','POBLACION','SUICIDIOS POR CADA 100K','PIB','GENERACION'], axis='columns', inplace=False)
#Actualización del nombre de las columnas
list(suicidios_limpieza.columns)

['PAIS',
 'AÑO',
 'SEXO',
 'EDAD',
 'NUM_SUICIDIOS',
 'POBLACION',
 'SUICIDIOS POR CADA 100K',
 'PIB',
 'GENERACION']

**Ordenamiento de datos:**

In [17]:
 #----ORDENANDO LOS DATOS POR AÑO Y ESTOS A SU VEZ ORDENADOS POR EDAD Y SEXO  
suicidios_limpieza=suicidios_limpieza.sort_values(by=['AÑO','EDAD','SEXO'])

**Crear nuevo archivo con la base de datos editada:**

In [18]:
#Creación del nuevo documento modificado
suicidios_limpieza.to_csv('suicidios-limpieza.csv', header = False, index = False)

#Visualización de la base de datos sin las columnas
print(suicidios_limpieza)

                      PAIS   AÑO    SEXO  EDAD NUM_SUICIDIOS  POBLACION  \
264    Antigua and Barbuda  1985  female     0        15-24        7709
265    Antigua and Barbuda  1985  female     0        25-34        6344
266    Antigua and Barbuda  1985  female     0        35-54        6173
267    Antigua and Barbuda  1985  female     0         5-14        7339
268    Antigua and Barbuda  1985  female     0        55-74        3778
...                    ...   ...     ...   ...           ...        ...
20926              Romania  2016    male   615        55-74     2068747
20928              Romania  2016    male   632        35-54     2945568
25305             Thailand  2016    male   646        25-34     4796355
25302             Thailand  2016    male   734        55-74     5203957
25303             Thailand  2016    male  1421        35-54    10084647

       SUICIDIOS POR CADA 100K           PIB       GENERACION
264                       0.00     240923926     Generation X
265                       0.00     240923926          Boomers
266                       0.00     240923926           Silent
267                       0.00     240923926     Generation X
268                       0.00     240923926  G.I. Generation
...                        ...           ...              ...
20926                    29.73  187805922349          Boomers
20928                    21.46  187805922349     Generation X
25305                    13.47  411755164833       Millenials
25302                    14.10  411755164833          Boomers
25303                    14.09  411755164833     Generation X

[27820 rows x 9 columns]

## GameStop Historical Stock Prices

https://www.kaggle.com/hananxx/gamestop-historical-stock-prices

**Datos sin manipulación:**

In [7]:
import pandas as pd
import numpy as np

#Para acceder al dataset,cambiar la url 
GME=pd.read_csv("C:/Users/almag/Documents/7mo Semestre/Minería de Datos/GME_stock.csv")
print(GME)

            date  open_price  high_price   low_price  close_price  \
0     2021-01-28  265.000000  483.000000  112.250000   193.600006
1     2021-01-27  354.829987  380.000000  249.000000   347.510010
2     2021-01-26   88.559998  150.000000   80.199997   147.979996
3     2021-01-25   96.730003  159.179993   61.130001    76.790001
4     2021-01-22   42.590000   76.760002   42.320000    65.010002
...          ...         ...         ...         ...          ...
4768  2002-02-20    9.600000    9.875000    9.525000     9.875000
4769  2002-02-19    9.900000    9.900000    9.375000     9.550000
4770  2002-02-15   10.000000   10.025000    9.850000     9.950000
4771  2002-02-14   10.175000   10.195000    9.925000    10.000000
4772  2002-02-13    9.625000   10.060000    9.525000    10.050000

           volume  adjclose_price
0      58815800.0      193.600006
1      93396700.0      347.510010
2     178588000.0      147.979996
3     177874000.0       76.790001
4     196784300.0       65.010002
...           ...             ...
4768    1723200.0        6.648838
4769    1852600.0        6.430017
4770    2097400.0        6.699336
4771    2755400.0        6.733003
4772   19054000.0        6.766666

[4773 rows x 7 columns]

**Información básica de cada una de las columnas:**

In [9]:
#La información muestra: La cantidad de memoria que usa la base de datos,Cuenta de los datos, promedio, tipo de datos, frecuencia, cuartiles, entre otros.
GME.info()
GME['date'].describe()
GME['open_price'].describe()
GME['high_price'].describe()
GME['low_price'].describe()
GME['close_price'].describe()
GME['volume'].describe()
GME['adjclose_price'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4773 non-null   object
 1   open_price      4773 non-null   float64
 2   high_price      4773 non-null   float64
 3   low_price       4773 non-null   float64
 4   close_price     4773 non-null   float64
 5   volume          4773 non-null   float64
 6   adjclose_price  4773 non-null   float64
dtypes: float64(6), object(1)
memory usage: 261.1+ KB

count    4773.000000
mean       16.882897
std        11.019953
min         2.555174
25%         9.607993
50%        15.479172
75%        22.205433
max       347.510010
Name: adjclose_price, dtype: float64

**Localización de los datos nulos en la base de datos:**

In [25]:
GME.isnull().any()

#Sin columnas con datos nulos

date              False
open_price        False
high_price        False
low_price         False
close_price       False
volume            False
adjclose_price    False
dtype: bool

**Eliminación de columnas no deseadas:**

In [26]:
#La columna "adjclose_price",ya que el precio ajustado seria el mismo que el precio de cierre en ese dia
GME_limpieza=GME.drop(['adjclose_price'],axis = 1 )

#Visualización de la base de datos sin las columnas
print(GME_limpieza)

            date  open_price  high_price   low_price  close_price       volume
0     2021-01-28  265.000000  483.000000  112.250000   193.600006   58815800.0
1     2021-01-27  354.829987  380.000000  249.000000   347.510010   93396700.0
2     2021-01-26   88.559998  150.000000   80.199997   147.979996  178588000.0
3     2021-01-25   96.730003  159.179993   61.130001    76.790001  177874000.0
4     2021-01-22   42.590000   76.760002   42.320000    65.010002  196784300.0
...          ...         ...         ...         ...          ...          ...
4768  2002-02-20    9.600000    9.875000    9.525000     9.875000    1723200.0
4769  2002-02-19    9.900000    9.900000    9.375000     9.550000    1852600.0
4770  2002-02-15   10.000000   10.025000    9.850000     9.950000    2097400.0
4771  2002-02-14   10.175000   10.195000    9.925000    10.000000    2755400.0
4772  2002-02-13    9.625000   10.060000    9.525000    10.050000   19054000.0

[4773 rows x 6 columns]

**Cambio de Nombre:**

In [27]:
#Cambio de nombre de las columnas para mejor manipulación de datos
GME_limpieza=GME_limpieza.set_axis(['Fecha', 'Precio de apertura', 'Precio alto','Precio bajo','Precio de cierre','Nocional'], axis='columns', inplace=False)
#Actualización del nombre de las columnas
list(GME_limpieza.columns)

['Fecha',
 'Precio de apertura',
 'Precio alto',
 'Precio bajo',
 'Precio de cierre',
 'Nocional']

**Ordenamiento de datos:**

In [29]:
#ORDENANDO LOS DATOS FECHA
GME_limpieza=GME_limpieza.sort_values(by=['Fecha'])

print(GME_limpieza)

           Fecha  Precio de apertura  Precio alto  Precio bajo  \
4772  2002-02-13            9.625000    10.060000     9.525000
4771  2002-02-14           10.175000    10.195000     9.925000
4770  2002-02-15           10.000000    10.025000     9.850000
4769  2002-02-19            9.900000     9.900000     9.375000
4768  2002-02-20            9.600000     9.875000     9.525000
...          ...                 ...          ...          ...
4     2021-01-22           42.590000    76.760002    42.320000
3     2021-01-25           96.730003   159.179993    61.130001
2     2021-01-26           88.559998   150.000000    80.199997
1     2021-01-27          354.829987   380.000000   249.000000
0     2021-01-28          265.000000   483.000000   112.250000

      Precio de cierre     Nocional
4772         10.050000   19054000.0
4771         10.000000    2755400.0
4770          9.950000    2097400.0
4769          9.550000    1852600.0
4768          9.875000    1723200.0
...                ...          ...
4            65.010002  196784300.0
3            76.790001  177874000.0
2           147.979996  178588000.0
1           347.510010   93396700.0
0           193.600006   58815800.0

[4773 rows x 6 columns]

**Crear nuevo archivo con la base de datos editada:**

In [31]:
#Creación del nuevo documento modificado
GME_limpieza.to_csv('GME-limpieza.csv', header = False, index = False)

#Visualización final de la base de datos 
print(GME_limpieza)

           Fecha  Precio de apertura  Precio alto  Precio bajo  \
4772  2002-02-13            9.625000    10.060000     9.525000
4771  2002-02-14           10.175000    10.195000     9.925000
4770  2002-02-15           10.000000    10.025000     9.850000
4769  2002-02-19            9.900000     9.900000     9.375000
4768  2002-02-20            9.600000     9.875000     9.525000
...          ...                 ...          ...          ...
4     2021-01-22           42.590000    76.760002    42.320000
3     2021-01-25           96.730003   159.179993    61.130001
2     2021-01-26           88.559998   150.000000    80.199997
1     2021-01-27          354.829987   380.000000   249.000000
0     2021-01-28          265.000000   483.000000   112.250000

      Precio de cierre     Nocional
4772         10.050000   19054000.0
4771         10.000000    2755400.0
4770          9.950000    2097400.0
4769          9.550000    1852600.0
4768          9.875000    1723200.0
...                ...          ...
4            65.010002  196784300.0
3            76.790001  177874000.0
2           147.979996  178588000.0
1           347.510010   93396700.0
0           193.600006   58815800.0

[4773 rows x 6 columns]

## Movies on Netflix, Prime Video, Hulu and Disney+

https://www.kaggle.com/ruchi798/movies-on-netflix-prime-video-hulu-and-disney

**Datos sin manipulación:**

In [2]:
import pandas as pd
import numpy as np

#Para acceder al dataset,cambiar la url 
MoviesP=pd.read_csv("C:/Users/almag/Documents/7mo Semestre/Minería de Datos/MoviesOnStreamingPlatforms.csv")
print(MoviesP)

       Unnamed: 0     ID                           Title  Year  Age  IMDb  \
0               0      1                       Inception  2010  13+   8.8
1               1      2                      The Matrix  1999  18+   8.7
2               2      3          Avengers: Infinity War  2018  13+   8.5
3               3      4              Back to the Future  1985   7+   8.5
4               4      5  The Good, the Bad and the Ugly  1966  18+   8.8
...           ...    ...                             ...   ...  ...   ...
16739       16739  16740       The Ghosts of Buxley Hall  1980  NaN   6.2
16740       16740  16741                  The Poof Point  2001   7+   4.7
16741       16741  16742           Sharks of Lost Island  2013  NaN   5.7
16742       16742  16743              Man Among Cheetahs  2017  NaN   6.6
16743       16743  16744                In Beaver Valley  1950  NaN   NaN

      Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type  \
0                 87%        1     0            0        0     0
1                 87%        1     0            0        0     0
2                 84%        1     0            0        0     0
3                 96%        1     0            0        0     0
4                 97%        1     0            1        0     0
...               ...      ...   ...          ...      ...   ...
16739             NaN        0     0            0        1     0
16740             NaN        0     0            0        1     0
16741             NaN        0     0            0        1     0
16742             NaN        0     0            0        1     0
16743             NaN        0     0            0        1     0

                            Directors                            Genres  \
0                   Christopher Nolan  Action,Adventure,Sci-Fi,Thriller
1      Lana Wachowski,Lilly Wachowski                     Action,Sci-Fi
2             Anthony Russo,Joe Russo           Action,Adventure,Sci-Fi
3                     Robert Zemeckis           Adventure,Comedy,Sci-Fi
4                        Sergio Leone                           Western
...                               ...                               ...
16739                    Bruce Bilson      Comedy,Family,Fantasy,Horror
16740                     Neal Israel              Comedy,Family,Sci-Fi
16741                    Neil Gelinas                       Documentary
16742            Richard Slater-Jones                       Documentary
16743                     James Algar          Documentary,Short,Family

                            Country                 Language  Runtime
0      United States,United Kingdom  English,Japanese,French    148.0
1                     United States                  English    136.0
2                     United States                  English    149.0
3                     United States                  English    116.0
4          Italy,Spain,West Germany                  Italian    161.0
...                             ...                      ...      ...
16739                 United States                  English    120.0
16740                 United States                  English     90.0
16741                 United States                  English      NaN
16742                 United States                  English      NaN
16743                 United States                  English     32.0

[16744 rows x 17 columns]

**Información básica de cada una de las columnas:**

In [3]:
#La información muestra: La cantidad de memoria que usa la base de datos,Cuenta de los datos, promedio, tipo de datos, frecuencia, cuartiles, entre otros.
MoviesP.info()
MoviesP['Unnamed: 0'].describe()
MoviesP['ID'].describe()
MoviesP['Title'].describe()
MoviesP['Year'].describe()
MoviesP['Age'].describe()
MoviesP['IMDb'].describe()
MoviesP['Rotten Tomatoes'].describe()
MoviesP['Netflix'].describe()
MoviesP['Hulu'].describe()
MoviesP['Prime Video'].describe()
MoviesP['Disney+'].describe()
MoviesP['Type'].describe()
MoviesP['Directors'].describe()
MoviesP['Genres'].describe()
MoviesP['Country'].describe()
MoviesP['Language'].describe()
MoviesP['Runtime'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16145 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

count    16152.000000
mean        93.413447
std         28.219222
min          1.000000
25%         82.000000
50%         92.000000
75%        104.000000
max       1256.000000
Name: Runtime, dtype: float64

**Localización de los datos nulos en la base de datos:**

In [4]:
MoviesP.isnull().any()

#Se encontró datos nulos en Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime

Unnamed: 0         False
ID                 False
Title              False
Year               False
Age                 True
IMDb                True
Rotten Tomatoes     True
Netflix            False
Hulu               False
Prime Video        False
Disney+            False
Type               False
Directors           True
Genres              True
Country             True
Language            True
Runtime             True
dtype: bool

**Eliminar columnas no deseadas:**

In [19]:
#Eliminando columnas "Unnamed: 0" ,"ID" ,"Type" ya que incluye información irrelevante 
#Unnamed:0 es una columna enumerando a las entradas de información
#En la columna ID encontramos un número de identificación para la pelicula
#Columna Type tiene puros valores en 0
MoviesP_limpieza=MoviesP.drop(['Unnamed: 0','ID',"Type"],axis = 1 )

#Visualización de la base de datos sin las columnas
print(MoviesP_limpieza)

                                Title  Year  Age  IMDb Rotten Tomatoes  \
0                           Inception  2010  13+   8.8             87%
1                          The Matrix  1999  18+   8.7             87%
2              Avengers: Infinity War  2018  13+   8.5             84%
3                  Back to the Future  1985   7+   8.5             96%
4      The Good, the Bad and the Ugly  1966  18+   8.8             97%
...                               ...   ...  ...   ...             ...
16739       The Ghosts of Buxley Hall  1980  NaN   6.2             NaN
16740                  The Poof Point  2001   7+   4.7             NaN
16741           Sharks of Lost Island  2013  NaN   5.7             NaN
16742              Man Among Cheetahs  2017  NaN   6.6             NaN
16743                In Beaver Valley  1950  NaN   NaN             NaN

       Netflix  Hulu  Prime Video  Disney+                       Directors  \
0            1     0            0        0               Christopher Nolan
1            1     0            0        0  Lana Wachowski,Lilly Wachowski
2            1     0            0        0         Anthony Russo,Joe Russo
3            1     0            0        0                 Robert Zemeckis
4            1     0            1        0                    Sergio Leone
...        ...   ...          ...      ...                             ...
16739        0     0            0        1                    Bruce Bilson
16740        0     0            0        1                     Neal Israel
16741        0     0            0        1                    Neil Gelinas
16742        0     0            0        1            Richard Slater-Jones
16743        0     0            0        1                     James Algar

                                 Genres                       Country  \
0      Action,Adventure,Sci-Fi,Thriller  United States,United Kingdom
1                         Action,Sci-Fi                 United States
2               Action,Adventure,Sci-Fi                 United States
3               Adventure,Comedy,Sci-Fi                 United States
4                               Western      Italy,Spain,West Germany
...                                 ...                           ...
16739      Comedy,Family,Fantasy,Horror                 United States
16740              Comedy,Family,Sci-Fi                 United States
16741                       Documentary                 United States
16742                       Documentary                 United States
16743          Documentary,Short,Family                 United States

                      Language  Runtime
0      English,Japanese,French    148.0
1                      English    136.0
2                      English    149.0
3                      English    116.0
4                      Italian    161.0
...                        ...      ...
16739                  English    120.0
16740                  English     90.0
16741                  English      NaN
16742                  English      NaN
16743                  English     32.0

[16744 rows x 14 columns]

**Modificación de las columnas:**

In [20]:
#cambiando nombres de columnas
MoviesP_limpieza=MoviesP_limpieza.set_axis(['TITULO', 'AÑO', 'CLASIFICACION POR EDAD','CALIFICACION','ROTTEN TOMATOES','NETFLIX','HULU','PRIME VIDEO','DISNEY+','DIRECTOR','GENERO','PAIS','IDIOMA','DURACION'], axis='columns', inplace=False)

print(MoviesP_limpieza)

                               TITULO   AÑO CLASIFICACION POR EDAD  \
0                           Inception  2010                    13+
1                          The Matrix  1999                    18+
2              Avengers: Infinity War  2018                    13+
3                  Back to the Future  1985                     7+
4      The Good, the Bad and the Ugly  1966                    18+
...                               ...   ...                    ...
16739       The Ghosts of Buxley Hall  1980                    NaN
16740                  The Poof Point  2001                     7+
16741           Sharks of Lost Island  2013                    NaN
16742              Man Among Cheetahs  2017                    NaN
16743                In Beaver Valley  1950                    NaN

       CALIFICACION ROTTEN TOMATOES  NETFLIX  HULU  PRIME VIDEO  DISNEY+  \
0               8.8             87%        1     0            0        0
1               8.7             87%        1     0            0        0
2               8.5             84%        1     0            0        0
3               8.5             96%        1     0            0        0
4               8.8             97%        1     0            1        0
...             ...             ...      ...   ...          ...      ...
16739           6.2             NaN        0     0            0        1
16740           4.7             NaN        0     0            0        1
16741           5.7             NaN        0     0            0        1
16742           6.6             NaN        0     0            0        1
16743           NaN             NaN        0     0            0        1

                             DIRECTOR                            GENERO  \
0                   Christopher Nolan  Action,Adventure,Sci-Fi,Thriller
1      Lana Wachowski,Lilly Wachowski                     Action,Sci-Fi
2             Anthony Russo,Joe Russo           Action,Adventure,Sci-Fi
3                     Robert Zemeckis           Adventure,Comedy,Sci-Fi
4                        Sergio Leone                           Western
...                               ...                               ...
16739                    Bruce Bilson      Comedy,Family,Fantasy,Horror
16740                     Neal Israel              Comedy,Family,Sci-Fi
16741                    Neil Gelinas                       Documentary
16742            Richard Slater-Jones                       Documentary
16743                     James Algar          Documentary,Short,Family

                               PAIS                   IDIOMA  DURACION
0      United States,United Kingdom  English,Japanese,French     148.0
1                     United States                  English     136.0
2                     United States                  English     149.0
3                     United States                  English     116.0
4          Italy,Spain,West Germany                  Italian     161.0
...                             ...                      ...       ...
16739                 United States                  English     120.0
16740                 United States                  English      90.0
16741                 United States                  English       NaN
16742                 United States                  English       NaN
16743                 United States                  English      32.0

[16744 rows x 14 columns]

**Ordenamiento de datos:**

In [21]:
#ordenando la base de datos por año
MoviesP_limpieza=MoviesP_limpieza.sort_values(by=['AÑO'])

print(MoviesP_limpieza)

                                       TITULO   AÑO CLASIFICACION POR EDAD  \
4467                       A Trip to the Moon  1902                    all
8795             From the Manger to the Cross  1912                     7+
9917                    Fatty Joins the Force  1913                    NaN
10170                         The Speed Kings  1913                    NaN
6257                         A Fool There Was  1915                    NaN
...                                       ...   ...                    ...
3463              Har Kisse Ke Hisse Kaamyaab  2020                     7+
2795   Captain Underpants: Epic Choice-o-rama  2020                    NaN
2110            Tom Papa: You're Doing Great!  2020                    NaN
1739               The Stand at Paxton County  2020                    NaN
3417                               John Henry  2020                    18+

       CALIFICACION ROTTEN TOMATOES  NETFLIX  HULU  PRIME VIDEO  DISNEY+  \
4467            8.2            100%        0     0            1        0
8795            5.7             NaN        0     0            1        0
9917            5.3             NaN        0     0            1        0
10170           5.0             NaN        0     0            1        0
6257            5.8             80%        0     0            1        0
...             ...             ...      ...   ...          ...      ...
3463            NaN             NaN        1     0            0        0
2795            6.3             NaN        1     0            0        0
2110            7.1             NaN        1     0            0        0
1739            6.4             NaN        1     0            0        0
3417            3.5             NaN        1     0            0        0

             DIRECTOR                                        GENERO  \
4467   Georges Méliès  Short,Action,Adventure,Comedy,Fantasy,Sci-Fi
8795    Sidney Olcott                               Biography,Drama
9917   George Nichols                                  Comedy,Short
10170   Wilfred Lucas                           Short,Action,Comedy
6257     Frank Powell                                         Drama
...               ...                                           ...
3463     Hardik Mehta                                         Drama
2795              NaN       Animation,Short,Action,Adventure,Comedy
2110   Gregory Jacobs                                        Comedy
1739    Brett Hedlund                                      Thriller
3417      Will Forbes                                Drama,Thriller

                PAIS       IDIOMA  DURACION
4467          France  None,French      13.0
8795   United States      English      60.0
9917   United States      English      12.0
10170  United States      English       8.0
6257   United States      English      67.0
...              ...          ...       ...
3463           India        Hindi     109.0
2795   United States      English       NaN
2110   United States      English      60.0
1739   United States      English       NaN
3417   United States      English      91.0

[16744 rows x 14 columns]

**Reemplazo de datos:**

In [22]:
#Se reemplaza los valores nulos con "none"
MoviesP_limpieza = MoviesP_limpieza.fillna('none')

#Comprobación del cambio de datos nulos
MoviesP_limpieza.isnull().any()

TITULO                    False
AÑO                       False
CLASIFICACION POR EDAD    False
CALIFICACION              False
ROTTEN TOMATOES           False
NETFLIX                   False
HULU                      False
PRIME VIDEO               False
DISNEY+                   False
DIRECTOR                  False
GENERO                    False
PAIS                      False
IDIOMA                    False
DURACION                  False
dtype: bool

**Creación de archivo modificado:**

In [23]:
#Creando archivo nuevo modificado
MoviesP_limpieza.to_csv('MoviesP_limpieza.csv', header = False, index = False)

#Impresión final de la base de datos
print(MoviesP_limpieza)

                                       TITULO   AÑO CLASIFICACION POR EDAD  \
4467                       A Trip to the Moon  1902                    all
8795             From the Manger to the Cross  1912                     7+
9917                    Fatty Joins the Force  1913                   none
10170                         The Speed Kings  1913                   none
6257                         A Fool There Was  1915                   none
...                                       ...   ...                    ...
3463              Har Kisse Ke Hisse Kaamyaab  2020                     7+
2795   Captain Underpants: Epic Choice-o-rama  2020                   none
2110            Tom Papa: You're Doing Great!  2020                   none
1739               The Stand at Paxton County  2020                   none
3417                               John Henry  2020                    18+

      CALIFICACION ROTTEN TOMATOES  NETFLIX  HULU  PRIME VIDEO  DISNEY+  \
4467           8.2            100%        0     0            1        0
8795           5.7            none        0     0            1        0
9917           5.3            none        0     0            1        0
10170            5            none        0     0            1        0
6257           5.8             80%        0     0            1        0
...            ...             ...      ...   ...          ...      ...
3463          none            none        1     0            0        0
2795           6.3            none        1     0            0        0
2110           7.1            none        1     0            0        0
1739           6.4            none        1     0            0        0
3417           3.5            none        1     0            0        0

             DIRECTOR                                        GENERO  \
4467   Georges Méliès  Short,Action,Adventure,Comedy,Fantasy,Sci-Fi
8795    Sidney Olcott                               Biography,Drama
9917   George Nichols                                  Comedy,Short
10170   Wilfred Lucas                           Short,Action,Comedy
6257     Frank Powell                                         Drama
...               ...                                           ...
3463     Hardik Mehta                                         Drama
2795             none       Animation,Short,Action,Adventure,Comedy
2110   Gregory Jacobs                                        Comedy
1739    Brett Hedlund                                      Thriller
3417      Will Forbes                                Drama,Thriller

                PAIS       IDIOMA DURACION
4467          France  None,French       13
8795   United States      English       60
9917   United States      English       12
10170  United States      English        8
6257   United States      English       67
...              ...          ...      ...
3463           India        Hindi      109
2795   United States      English     none
2110   United States      English       60
1739   United States      English     none
3417   United States      English       91

[16744 rows x 14 columns]

## EXTRA
###### Comandos extras utilizados
Gracias a que en la programación existen tantas comandos y librerías, no es difícil encontrar una como Pandas. Pandas es una biblioteca de software escrita como extensión de NumPy para manipulación y análisis de datos para el lenguaje de programación Python que nos ofrece herramientas que nos permiten manejar con mayor facilidad los datos con los que se requiere trabajar, dejando a disponibilidad comandos con los que podremos analizar los comportamientos que se tiene, poder realizar predicciones en base a los datos, nos ayuda a visualizar mejor si algunos datos son o no útiles, entre otras opciones que nos podrán ayudar dependiendo de lo que necesitemos

- **info:** Este comando imprime información sobre un DataFrame, incluido el tipo de índice y las columnas, los valores no nulos y el uso de la memoria, básicamente nos da los detalles sobre este DataFrame, de esta manera tendremos como una previa hacia los datos que se estarán tratando, esto puede llegar a servir a manera de filtro para saber si hay algo que está erróneo o si hay algo con lo que no queramos trabajar.

- **describe:** Genera estadísticas descriptivas, estas incluyen aquellas que resumen la tendencia central, la dispersión y la forma de la distribución de un conjunto de datos, excluyendo los valores de NaN. Analiza series numéricas y de objetos, así como conjuntos de columnas DataFrame de tipos de datos mixtos. La salida variará según lo que se proporcione. 

- **sort axis:** Ordenar objeto por etiquetas (a lo largo de un eje), habrá ocasiones en las que necesitaremos ordenar el objeto, esto nos puede dar una mejor perspectiva de lo que se está trabajando. 

- **sort values:** Ordene por los valores a lo largo de cada eje, dependiendo con los datos que estemos manejando esto nos podrá ayudar para tener mejor visualización de los datos.

- **to_csv:** Escribe el objeto en un archivo de valores separados por comas (csv), si por algún motivo necesitamos cambiar un objeto a este tipo de extensión.

#### INVESTIGACIÓN DE COMANDOS
##### df.astype()
Es una función de Pandas que cambia el tipo de datos de los objetos a un tipo de datos especificado.

    Forma: DataFrame.astype(dtype, copy=True, errors='raise')

Parámetros
- **Dtype:** Tipo de datos que queremos asignar a nuestro objeto.
- **Copy:** Un parámetro booleano. Devuelve una copia cuando True.
- **Errors:** Controla el lanzamiento de excepciones sobre datos no válidos para el tipo de datos proporcionado.

    Tiene dos opciones.
    - Raise: permite que se levanten las excepciones.
    - Ignore: suprime las excepciones. Si existe un error, entonces devuelve el objeto original.

##### df.dropna()
Es una función de Pandas que elimina los valores nulos (valores perdidos) del DataFrame dejando caer las filas o columnas que contienen los valores nulos.
    
En donde: **NaN** (no un número) y **NaT** (no un tiempo) representan los valores nulos. DataFrame.dropna() detecta estos valores y filtra el DataFrame en consecuencia.
    
    Forma:DataFrame.dropna(axis, how, thresh, subset, inplace)

Parámetros
- **Axis:** Determina que el eje sea de fila o de columna.
Si es 0 o “índice”, entonces deja caer las filas que contienen valores perdidos.
Si es 1 o columns, entonces deja caer las columnas que contienen los valores perdidos. Por defecto, su valor es 0.
- **How:** Este parámetro determina la forma en que la función deja caer las filas o columnas. Sólo acepta dos cadenas de caracteres, ya sea any o all. Por defecto, se establece como any.
    - any: deja caer la fila o columna si hay algún valor nulo en ella.
    - all: deja caer la fila o columna si faltan todos los valores en ella.

- **Thresh:** Es un número entero que especifica el menor número de valores que no falten que impiden que las filas o columnas caigan.
- **Subset:** Es una matriz que tiene los nombres de las filas o columnas para especificar el procedimiento de caída.

- **Inplace:** Es un valor booleano que cambia la llamada DataFrame si se establece como True. Por defecto, su valor es False.