# Limpieza de Datos
### Suicide Rates Overview 1985 to 2016

https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016

###### Equipo: 04

**Datos sin manipulación:**

In [12]:
import pandas as pd
import numpy as np

#Para acceder al dataset,cambiar la url 
suicidios=pd.read_excel("C:/Users/almag/Documents/7mo Semestre/Minería de Datos/master.xlsx")
print(suicidios)

          country  year     sex          age  suicides_no  population  \
0         Albania  1987    male  15-24 years           21      312900
1         Albania  1987    male  35-54 years           16      308000
2         Albania  1987  female  15-24 years           14      289700
3         Albania  1987    male    75+ years            1       21800
4         Albania  1987    male  25-34 years            9      274300
...           ...   ...     ...          ...          ...         ...
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year   gdp_for_year ($)   \
0                   6.71     Albania1987           NaN          2156624900
1                   5.19     Albania1987           NaN          2156624900
2                   4.83     Albania1987           NaN          2156624900
3                   4.59     Albania1987           NaN          2156624900
4                   3.28     Albania1987           NaN          2156624900
...                  ...             ...           ...                 ...
27815               2.96  Uzbekistan2014         0.675         63067077179
27816               2.58  Uzbekistan2014         0.675         63067077179
27817               2.17  Uzbekistan2014         0.675         63067077179
27818               1.67  Uzbekistan2014         0.675         63067077179
27819               1.46  Uzbekistan2014         0.675         63067077179

       gdp_per_capita ($)       generation
0                     796     Generation X
1                     796           Silent
2                     796     Generation X
3                     796  G.I. Generation
4                     796          Boomers
...                   ...              ...
27815                2309     Generation X
27816                2309           Silent
27817                2309     Generation Z
27818                2309     Generation Z
27819                2309          Boomers

[27820 rows x 12 columns]

**Información básica de cada una de las columnas:**

In [10]:
#La información muestra: La cantidad de memoria que usa la base de datos,Cuenta de los datos, promedio, tipo de datos, frecuencia, cuartiles, entre otros.
suicidios.info()
suicidios['country'].describe()
suicidios['year'].describe()
suicidios['sex'].describe()
suicidios['age'].describe()
suicidios['suicides_no'].describe()
suicidios['population'].describe()
suicidios['suicides/100k pop'].describe()
suicidios['country-year'].describe()
suicidios['HDI for year'].describe()
suicidios[' gdp_for_year ($) '].describe()
suicidios['gdp_per_capita ($)'].describe()
suicidios['generation'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  int64
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.5+ MB

count            27820
unique               6
top       Generation X
freq              6408
Name: generation, dtype: object

**Localización de los datos nulos en la base de datos.**

In [4]:
suicidios.isnull().any()

#La única columna que presenta datos nulos es “HDI for year”

country               False
year                  False
sex                   False
age                   False
suicides_no           False
population            False
suicides/100k pop     False
country-year          False
HDI for year           True
 gdp_for_year ($)     False
gdp_per_capita ($)    False
generation            False
dtype: bool

**Eliminar columnas no deseadas:**

In [13]:
#Se eliminarán las columnas "country-year","HDI for year", "gdp_per_capita($)" ya que la información no será irelevante
#La columna "country-year" es una concatenación de las primeras 2 columnas, en tal caso, nos parece irrelevante.
#Columna "HDI for year" contiene muchos datos nulos sobre el indice de desarrollo humano, por lo tanto, la eliminamos.
#Columna "gdp_per_capita($)", utilizaremos unicamente la información en "gdp_for_years($)" que es información del PIB por años
#Columna "age" eliminada para modificar la información dentro 
suicidios_limpieza=suicidios.drop(['country-year','HDI for year','gdp_per_capita ($)','age'],axis = 1 )

#Visualización de la base de datos sin las columnas
print(suicidios_limpieza)

          country  year     sex  suicides_no  population  suicides/100k pop  \
0         Albania  1987    male           21      312900               6.71
1         Albania  1987    male           16      308000               5.19
2         Albania  1987  female           14      289700               4.83
3         Albania  1987    male            1       21800               4.59
4         Albania  1987    male            9      274300               3.28
...           ...   ...     ...          ...         ...                ...
27815  Uzbekistan  2014  female          107     3620833               2.96
27816  Uzbekistan  2014  female            9      348465               2.58
27817  Uzbekistan  2014    male           60     2762158               2.17
27818  Uzbekistan  2014  female           44     2631600               1.67
27819  Uzbekistan  2014  female           21     1438935               1.46

        gdp_for_year ($)        generation
0              2156624900     Generation X
1              2156624900           Silent
2              2156624900     Generation X
3              2156624900  G.I. Generation
4              2156624900          Boomers
...                   ...              ...
27815         63067077179     Generation X
27816         63067077179           Silent
27817         63067077179     Generation Z
27818         63067077179     Generation Z
27819         63067077179          Boomers

[27820 rows x 8 columns]

**Modificación de las columnas:**

In [14]:
#Modificación de la columna "age", eliminando la palabra "years" para evitar el repetir las palabras
letras_eliminados=suicidios['age'].str.replace('years','')

#Se agregan los datos sin la palabra "years"
suicidios_limpieza.insert(4,'age',letras_eliminados)

#Visualización de la base de datos mostrando la modificación
print(suicidios_limpieza)

          country  year     sex  suicides_no     age  population  \
0         Albania  1987    male           21  15-24       312900
1         Albania  1987    male           16  35-54       308000
2         Albania  1987  female           14  15-24       289700
3         Albania  1987    male            1    75+        21800
4         Albania  1987    male            9  25-34       274300
...           ...   ...     ...          ...     ...         ...
27815  Uzbekistan  2014  female          107  35-54      3620833
27816  Uzbekistan  2014  female            9    75+       348465
27817  Uzbekistan  2014    male           60   5-14      2762158
27818  Uzbekistan  2014  female           44   5-14      2631600
27819  Uzbekistan  2014  female           21  55-74      1438935

       suicides/100k pop   gdp_for_year ($)        generation
0                   6.71          2156624900     Generation X
1                   5.19          2156624900           Silent
2                   4.83          2156624900     Generation X
3                   4.59          2156624900  G.I. Generation
4                   3.28          2156624900          Boomers
...                  ...                 ...              ...
27815               2.96         63067077179     Generation X
27816               2.58         63067077179           Silent
27817               2.17         63067077179     Generation Z
27818               1.67         63067077179     Generation Z
27819               1.46         63067077179          Boomers

[27820 rows x 9 columns]

**Cambio de Nombre:**

In [16]:
#Cambio de nombre de las columnas para mejor manipulación de datos
suicidios_limpieza=suicidios_limpieza.set_axis(['PAIS', 'AÑO', 'SEXO','EDAD','NUM_SUICIDIOS','POBLACION','SUICIDIOS POR CADA 100K','PIB','GENERACION'], axis='columns', inplace=False)
#Actualización del nombre de las columnas
list(suicidios_limpieza.columns)

['PAIS',
 'AÑO',
 'SEXO',
 'EDAD',
 'NUM_SUICIDIOS',
 'POBLACION',
 'SUICIDIOS POR CADA 100K',
 'PIB',
 'GENERACION']

**Agrupación y Ordenamiento de datos:**

In [17]:
''' CADA ARCHIVO CSV CORRESPONDERA A LOS DATOS  CORRESPONDIENTES DE CADA AÑO 
    DEL INTERVALO DE 1985-2016 '''
  #----PRIMERO ORDENANDO LOS DATOS POR AÑO Y ESTOS A SU VEZ ORDENADOS POR EDAD Y SEXO  
suicidios_limpieza=suicidios_limpieza.sort_values(by=['AÑO','EDAD','SEXO'])

**Crear nuevo archivo con la base de datos editada:**

In [18]:
#Creación del nuevo documento modificado
suicidios_limpieza.to_csv('suicidios-limpieza.csv', header = False, index = False)

#Visualización de la base de datos sin las columnas
print(suicidios_limpieza)

                      PAIS   AÑO    SEXO  EDAD NUM_SUICIDIOS  POBLACION  \
264    Antigua and Barbuda  1985  female     0        15-24        7709
265    Antigua and Barbuda  1985  female     0        25-34        6344
266    Antigua and Barbuda  1985  female     0        35-54        6173
267    Antigua and Barbuda  1985  female     0         5-14        7339
268    Antigua and Barbuda  1985  female     0        55-74        3778
...                    ...   ...     ...   ...           ...        ...
20926              Romania  2016    male   615        55-74     2068747
20928              Romania  2016    male   632        35-54     2945568
25305             Thailand  2016    male   646        25-34     4796355
25302             Thailand  2016    male   734        55-74     5203957
25303             Thailand  2016    male  1421        35-54    10084647

       SUICIDIOS POR CADA 100K           PIB       GENERACION
264                       0.00     240923926     Generation X
265                       0.00     240923926          Boomers
266                       0.00     240923926           Silent
267                       0.00     240923926     Generation X
268                       0.00     240923926  G.I. Generation
...                        ...           ...              ...
20926                    29.73  187805922349          Boomers
20928                    21.46  187805922349     Generation X
25305                    13.47  411755164833       Millenials
25302                    14.10  411755164833          Boomers
25303                    14.09  411755164833     Generation X

[27820 rows x 9 columns]